h1{
    display:block;
    color:linen;
    background-color: chocolate;
    font-size: 60px;
    align-content: center;
    padding: 20px 20px;
    margin: 0;
}

p {
    color: rgb(33, 151, 86);
    font-size: 32px;
}

a{
    color: rgb(47, 89, 228);
}

ul{
    list-style-type: none;
    margin : 0;
    padding : 0;
    overflow:hidden;
    background-color: linen;
}


li{
    float: left;
}
li a {
    display:block;
    color:brown;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}


li a:hover{
    background-color:gold;

}

text{
    font-size: 18px;
}